html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
